<app-header></app-header>

<div class="main-content">
    <div class="header-content-add">
        <div class="add-details-text">Person Details</div>
        <div>
            <button class="add-button" routerLink="form" mat-raised-button>
                <span class="logo" alt="">+Add Person</span></button>
        </div>
    </div>

    <div class="table-main">
        <table class="table"></table>
            <tr>
                <th>First Name</th>    
                <th>Last Name</th>
                <th>Address</th>
                <th>State</th>
                <th>City</th>       
                <th>Zip</th>
                <th>Phone</th>
            </tr>
    </div>
</div>
